#!/usr/bin/env python3
# -*- coding: utf-8 -*-
# cython: language_level=3

import sys
from cryptography.fernet import Fernet


def _get_key() -> bytes:
    return '{{ fernet_key }}'.encode('utf-8')


def encrypt(plain_text: bytes, fernet: Fernet) -> bytes:
    return fernet.encrypt(plain_text)


def main() -> None:
    key = _get_key()
    fernet = Fernet(key)

    for line in sys.stdin.buffer:
        stripped = line.rstrip(b'\n')
        encrypted = encrypt(stripped, fernet)
        sys.stdout.buffer.write(encrypted + b'\n')


if __name__ == "__main__":
    main()
